.row-fluid
  .span12
    %section.widget
      .body.no-margin
        %legend= t('tickets.new.title')
        = form_for @ticket, url: tickets_path, html: {class: ''} do |f|
          - if @ticket.errors.present?
            .alert.alert-danger
              %ul
              - @ticket.errors.full_messages.each do |error|
                %li= error
          %fieldset
            .control-group
              = f.label :title, t('tickets.new.fields.title'), class: 'control-label'
              .controls
                = f.text_field :title, class: 'input-block-level', placeholder: t('tickets.new.fields.title')
            .control-group
              = f.label :message, t('tickets.new.fields.message'), class: 'control-label'
              .controls
                = f.text_area :message, class: 'input-block-level wysiwyg', rows: 4
          .form-actions
            %div
              %button.btn.btn-primary{type: "submit"}= t('tickets.new.submit')