#breadcrumbs.breadcrumbs
  %ul.breadcrumb
    %li= t 'tickets.title'
    %li.active
      = t 'tickets.show.ticket_no', id: @ticket.id
      \-
      = @ticket.title
.page-content
  .row
    .col-xs-12
      .ticket-message.well= @ticket.message.html_safe
      .row
        .col-xs-12
          %legend
            %i.icon-chat
            = t 'tickets.show.comments'
          = form_for :ticket_comment, url: ticket_comments_path, html: {id: 'new_ticket_comment'}, remote: true do |f|
            .form-actions
              .row
                .col-sm-10
                  = f.text_area :message, class: 'autosize-transition form-control', rows: 1, id: 'comment-message'
                  = f.hidden_field :ticket_id, value: @ticket.id
                .col-sm-2
                  = f.button class: 'btn btn-sm btn-info no-radius', type: 'submit' do
                    %i.icon-share-alt
                    = t('tickets.show.send_comment')
          #ticket-comments.dialogs
            - @ticket.recent_ticket_comments.each do |ticket_comment|
              = render partial: 'comment', locals: {ticket_comment: ticket_comment}