#login-box.login-box.visible.widget-box.no-border
  .widget-body
    .widget-main
      %h4.header.blue.lighter.bigger
        %i.icon-coffee.green
        = t 'sessions.sign_in.title'
      .space-6
      = form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
        %fieldset
          %label.block.clearfix
            %span.block.input-icon.input-icon-right
              = f.email_field :email, autofocus: true, placeholder: t('sessions.sign_in.email_placeholder'), class: 'form-control'
              %i.icon-user
          %label.block.clearfix
            %span.block.input-icon.input-icon-right
              = f.password_field :password, placeholder: t('sessions.sign_in.password_placeholder'), class: 'form-control'
              %i.icon-lock
          .space
          .clearfix
            = f.button class: 'width-35 pull-right btn btn-sm btn-primary', type: 'submit' do
              %i.icon-key
              = t('sessions.sign_in.submit')
          .space-4
    .toolbar.clearfix
      %div
      %div
        = link_to new_user_registration_path, class: 'user-signup-link' do
          = t('sessions.sign_in.register_new_account')
          %i.icon-arrow-right