#sidebar.sidebar
  %ul.nav.nav-list
    %li{class: sub_active('tickets#new')}
      = link_to new_ticket_path do
        %i.icon-edit
        = t('dashboard.sidebar.new_ticket')
    %li{class: active('tickets', except_actions: %w(new))}
      %a.dropdown-toggle{href: '#'}
        %i.icon-list
        %span= t('dashboard.sidebar.tickets')
        %b.arrow.icon-angle-down
      %ul.submenu
        %li{class: support_area_active}
          = link_to tickets_path do
            %i.icon-double-angle-right
            = t('dashboard.sidebar.my_tickets')
        - current_user.support_areas.each do |support_area|
          %li{class: support_area_active(support_area.id)}
            = link_to support_area_tickets_path(support_area) do
              %i.icon-double-angle-right
              = support_area.title

