!!!
%html
  = render :partial => 'layouts/head'
  %body.background-dark
    .logo
      %h4= link_to t('app.title'), root_path
    %nav#sidebar.sidebar.nav-collapse.collapse
      %ul#side-nav.side-nav
        = render partial: 'layouts/sidebar'
    .wrap
      %header.page-header
        .navbar
          .navbar-inner
            %ul.nav.pull-right
              %li.hidden-phone
                = link_to destroy_user_session_path, method: :delete do
                  %i.icon-signout
      .content.container-fluid
        = render partial: 'shared/alerts'
        = yield