!!!
%html
  = render :partial => 'layouts/head'
  %body.skin-3
    #navbar.navbar.navbar-default
      #navbar-container.navbar-container.container
        .navbar-header.pull-left
          %a.navbar-brand{href: root_path}
            %small
              %i.icon-leaf
              = t('app.title')

        .navbar-header.pull-right{role: 'navigation'}
          %ul.nav.ace-nav
            %li.light-blue
              %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                %i.icon-user
                %span.user-info
                  %small
                    = t('navbar.welcome') + ','
                  = current_user.email
                %i.icon-caret-down
              %ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                %li
                  %a{href: '#'}
                    %i.icon-user
                    Profile
                %li.divider
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i.icon-off
                    = t 'navbar.user.logout'
    #main-container.main-container.container
      .main-container-inner
        %a#menu-toggler.menu-toggler{href: '#'}
          %span.menu-text
        = render partial: 'layouts/sidebar'
        .main-content
          = render partial: 'shared/alerts'
          = yield