!!!
%html
  = render :partial => 'layouts/head'
  %body.background-dark
    .logo
      %h4= link_to t('app.title'), root_path

    %nav.sidebar.nav-collapse.collapse
      %ul.side-nav
        %li{class: sub_active('tickets#new')}
          = link_to t('dashboard.sidebar.new_ticket'), new_ticket_path
        %li{class: active('dashboard')}
          = link_to t('dashboard.sidebar.my_tickets'), root_path
    .wrap
      %header.page-header
        .navbar
          .navbar-inner
            %ul.nav.pull-right
              %li.hidden-phone
                = link_to destroy_user_session_path, method: :delete do
                  %i.icon-signout
      .content.container-fluid
        = render partial: 'shared/alerts'
        = yield