!!!
%html
  = render :partial => 'layouts/head'
  %body.background-dark
    .logo
      %h4= link_to t('app.title'), root_path

    %nav.sidebar.nav-collapse.collapse
      %ul.side-nav
        %li.active
          %a{href: ''} My Tickets
        %li
          %a{href: ''} Processing (test)
        %li
          %a{href: ''} Processing (production)

    .wrap
      %header.page-header
        .navbar
          .navbar-inner
            %ul.nav.pull-right
              %li.hidden-phone
                = link_to destroy_user_session_path, method: :delete do
                  %i.icon-signout
      .content.container-fluid
        = render partial: 'shared/alerts'
        = yield